@media only screen and (min-width: 960px)
{
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html
    {
        height: 100%;
        scroll-behavior: smooth;
    }

    body
    {
        background-color: gainsboro;
        height: 100%;
        display: grid;
        grid-template-columns: 30% auto;
    }
    nav
    {
        grid-column: 1;
        position: fixed;
        left: 0;
        height: 100%;
        width: 30%;
        background-color: #977a7a;
        opacity: 0.9;
        padding: 2rem 1.15rem;
        z-index: 1;
    }
    nav p { text-align: center; }
    .navButton
    {
        display: grid;
        grid-template-columns: 30% auto;
    }

    .navButton img
    {
        height: 55px;
        grid-column: 1;
        justify-self: center;
        align-self: center;
    }
    .wrapper
    {
        grid-column: 2;
    }
    #name
    {
        content: "Sean Gregory";
        color: white;
        font-weight: 700;
        margin-bottom: 10px;
        font-size: xx-large;
        font-family: Hacker;
    }
    #email
    {
        visibility: visible;
    }
    #email a
    {
        color: lightgray;
        text-decoration: none;
    }
    #email a:hover
    {
        /*animation: fadeInColor 0.75s ease-in 0 1 direction fill-mode;*/
        animation-name: fadeInColor;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.75s;
    }
    #email:focus
    {
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-out;
        animation-duration: 0.75s;
    }
    nav ul { margin: 1.5em 0;}
    nav ul li
    {
        list-style-type: none;
        text-align: center;
        vertical-align: middle;
    }
    nav ul a
    {
        text-decoration: none;
        color: white;
        font-size: x-large;
    }
    
    
    #introduction
    {
        text-align: center;
        margin-top: 60px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    #introduction h2 { padding-bottom: 30px; }
    
    #introduction p
    {
        padding: 20px;
        font-size: 16px;
    }
    
    /* Nav bar buttons */
    
    .button
    {
        padding: 0.75em 2em;
        border: 2px solid darkred;
        display: inline-block;
        border-radius: 0.3em;
        background-color: darkred;
        transition: all 0.2s ease-in-out;
        position: relative;
        overflow: hidden;
    }
    
    .button::before
    {
        content: "";
        background-color: white;
        height: 100%;
        width: 3em;
        display: block;
        position: absolute;
        top: 0;
        left: -4.5em;
        transform: skewX(-45deg) translateX(0);
    }
    
    .button:hover
    {
        border: 2px solid darkblue;
        background-color: darkblue;
        border-bottom: 4px solid darken(darkblue, 10%);
    }
    .button:hover::before
    {
        transform: skewX(-45deg) translateX(14.5em);
        transition: all 0.5s ease-in-out;
    }
    
    /* End of Nav Bar buttons */
}