@media only screen and (min-width: 1160px)
{
    nav
    {
        text-align: center;
        z-index: 1;
        padding: 20px 0;
    }
    .navBar
    {
        height: 100%;
        padding: 5px 6rem;
        list-style-type: none; 
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navBar li
    {
        color: white;
    }
    .navTitle
    {
        margin-right: auto;
        font-size: 36px;
        font-family: "vanillaWhale"
    }
    .navLinks
    {
        margin-left: auto;
        font-size: 36px;
    }
    .navLinks div
    {
        list-style-type: none;
        overflow: hidden;
        display: flex;
        align-items: center;
    }
    .navLinks div a, .navLinks div button
    {
        padding: 0 20px;
    }
}

.navLinks div a, .navLinks div button
{
    text-decoration: none;
    color: white;
    font-family: "Broadmoor";
    font-weight: 1000;
    font-kerning: none;
}

@media only screen and (max-width: 1160px)
{
    .navBar
    {
        height: 100%;
        padding: 20px 2rem;
        list-style-type: none;
        overflow: hidden;
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navBar li
    {
        color: white;
    }
    .navTitle
    {
        margin-right: auto;
        font-size: 30px;
        font-family: "vanillaWhale"
    }
    .navLinks
    {
        margin-right: auto;
        font-size: 24px;
    }

    .navLinks div
    {
        display: flex;
        flex-direction: column;
    }

    .dropdown-content
    {
        text-align: start;
    }

    .dropbtn
    {
        cursor: pointer;
        display: block;
        margin-right: auto;
    }
}