*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { height: 100%; }

body
{
    height: 100%;
    background-image: url("./assets/ShadowImage.jpg");
}

nav
{
    display: grid;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #00239c;
    opacity: 0.9;
    padding: 2rem 1.15rem 2rem 1.15rem;
    z-index: 1;
}
nav #nameAndEmail
{
    display: flex;
    justify-content: space-between;
}
#name, #email
{
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: xx-large;
}
#email a:hover
{
    animation-name: fadeInColor;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.75s;
}

nav #nameAndEmail #email a
{
    color: white;
    text-decoration: none;
}
nav ul
{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li
{ 
    text-align: center;
}
nav p { text-align: center;}
nav ul a
{
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: x-large;
    padding: 0 0 0 1.15rem;
}

.Current
{
    color: aqua;
    font-weight: 900;
}

footer
{
    position: absolute;
    bottom: 10px;
    text-align: center;
}
footer p
{
    color: white;
    font-size: 20px;
}
footer #email a
{
    color: white;
    text-decoration: none;
}

/* Phone Viewing */
@media only screen and (max-width: 600px)
{
    nav { position: sticky;}
    nav #nameAndEmail
    {
        display: block;
    }
    nav #nameAndEmail #name
    {
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 25px;
    }
    nav #nameAndEmail #email
    {
        font-weight: 500;
        font-size: 25px;
        padding-bottom: 5px;
    }
    nav #email a
    {
        color: black;
        text-decoration: none;
    }
    nav ul
    {
        display: block;
        justify-content: center;
        list-style: none;
        padding-top: 20px;
    }
    nav ul li
    {
        padding: 3px 0;
    }
    nav p { text-align: center;}
    nav ul a
    {
        text-align: center;
        margin-right: 20px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 14px;
        padding: 0 0 0 1.15rem;
    }
}

@keyframes fadeInOpacity
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInColor
{
    0% { color: white; }
    100% { color: aqua; }
}