*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main-container, #life-container
{
    width: 100%;
    text-align: center;
}
#main
{
    display: inline;
    margin: 30px;
}
#mini { margin-left: 10px; }
#text, #text2, #gameOver { text-align: center; }
#tryAgain
{
    visibility: hidden;
    margin: 5px;
    width: 80px;
    height: 40px;
    background-color: gray;
}