@media only screen and (max-width: 600px)
{
    .contentBox
    {
        height: auto;
        padding: 10px 0;
        width: 100%;
    }

    .contentTitle
    {
        font-size: 48px;
        font-family: "ParkLane";
        margin: 0 20%;
    }

    .contentDesc
    {
        font-size: 18px;
        margin: 0 10%;
    }
    .contentLink
    {
        font-size: 30px;
        padding: 5px 3em;
    }
}